.fav-badge {
  cursor: pointer;
  position: relative;
}

.fav-badge__count {
  background-color: rgb(0, 0, 0);
  border-radius: 99px;
  position: absolute;
  left: 70%;
  right: 0%;
  top: 0%;
  bottom: 60%;
  width: 20px;
  height: 20px;

  span {
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}