.photo-list__fav-icon {
  position: absolute;
  top: 8px; 
  left: 8px; 
  cursor: pointer;
  border-radius: 100%; // Makes the div circular
  background-color: #ffffff;
  width: 32px; // Width of the circle
  height: 32px; // Height of the circle
  display: flex;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 7px;
}
