.photo-list__fav-icon {
  position: absolute;
  top: 8px; // Adjust as necessary
  left: 8px; // Adjust as necessary
  cursor: pointer;
  border-radius: 50%; // Makes the div circular
  background-color: white; // White background for the circle
  width: 32px; // Width of the circle
  height: 32px; // Height of the circle
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 7px;
}
