.photo-details-modal {
  background-color: #F5F5F5; //designer feedback
  border-radius: 12px;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .75);
  height: 80%;
  width: 55%;
  left: 50%;
  top: 55%;
  overflow-y: scroll;
  position: fixed;
  transform: translate(-50%, -60%);
}

.photo-details-modal__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-details-modal__card {
  background-color: white;
  border-color: lightgray;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 24px;
  max-width: 80%;
  padding: 24px;
}

.photo-details-modal__close-button {
  background-color: #F5F5F5;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 16px 0 0 16px;
}

.photo-details-modal__images {
  align-items: flex-start;
  justify-content: center;
}

.photo-details-modal__image {
  border-radius: 8px;
  max-width: 100%;
}

.photo-details-modal__top-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 16px;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  box-shadow: 0 -4px 6px -6px #222;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 500;
  margin: 24px 0 0 24px;
  padding: 24px 0 0 12px;
  text-align: left;
  width: 100%;
}